[PATH]
1 = C:\Windows\system32
2 = C:\Windows
3 = C:\Windows\System32\Wbem
4 = C:\Windows\System32\WindowsPowerShell\v1.0\
5 = c:\Program Files (x86)\PuTTY
6 = C:\MinGW\msys\1.0\bin
7 = C:\MinGW\bin
8 = C:\Program Files (x86)\Windows Live\Shared
9 = C:\Program Files\Intel\Intel(R) Management Engine Components\DAL
10 = C:\Program Files (x86)\Intel\Intel(R) Management Engine Components\IPT
11 = C:\Program Files\Microsoft SQL Server\110\Tools\Binn\

[PATHEXT]
0 = .COM
1 = .EXE
2 = .BAT
3 = .CMD
4 = .VBS
5 = .VBE
6 = .JS
7 = .JSE
8 = .WSF
9 = .WSH
A = .MSC
B = .PY
C = .PYW

[JAVA_HOME]
0 = C:\Program Files\Java\jdk1.7.0_45

[JRE_HOME]
0 = C:\Program Files\Java\jre7